h1 {
	background-color: $black;
	color: $white;
}

.angie {
	width: 400px;
	padding: 1rem 2rem;
	margin: auto;
}

img {
	max-width: 100%;
}

p {
	line-height: $line-height;
	margin: 1rem;
}

.skills li {
	display: block;
}

@media screen and (min-width: 480px) {

  .dropdown {

    .menu-controller-checkbox ~ ul {
      max-height: none;
      overflow: visible;
      text-align: center;
      background-color: $gray;
    }

    .menu-controller-label {
      display: none;
      visibility: hidden;
    }

    ul {
      a { display: inline;
      }

      li {
        background-color: transparent;
        display: inline-block;
        margin: 0 1rem 0 0;
        padding: 0;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 800px) {
	header {
		background-color: $black;
		position: relative;
		height: $line-height * 3.4;
	}

	h1 {
		float: left;
		width: 50%
	}
	
	nav {
		float: right;
	}

	.dropdown {

    	.menu-controller-checkbox ~ ul {
      		background-color: $black;
      		color: $white;
      		padding: 1.3rem 0;

	      	a:link, a:visited {
	      		color: $white;
		    }

		    a:hover {
		    	color: $green;
		    	font-size: 1em;
		    	text-decoration: none;
		    }

		    a:active {
		      color: $white;
		    }
		}
    }

}


