h1 {
	background-color: $black;
	color: $white;
}

img {
	max-width: 100%;
}

p {
	line-height: $line-height;
	margin: 1rem;
	text-align: center;
}

.skills li {
	display: block;
}

.desktop-hidden {
	display: none;
}

.visuallyhidden {
	display: none;
}

@media screen and (min-width: 480px) {
	.dropdown {

  		ul {
    		font-family: $header-font;
    		font-size: 2em;
    		max-height: 0;
    		overflow: visible;

    	li {
	        background-color: transparent;
	        display: inline-block;
	        margin: 0 1rem 0 0;
	        padding: 0;
	        text-align: center;
	    }

	    a {
	      	display: inline;
	      	height: 100%;
	      	width: 100%;
	    }

	    a:link, a:visited {
	      color: $white;
	      text-decoration: none;
	    }

	    a:hover {
		    color: $green;
		    font-size: 1em;
		    text-decoration: none;
		}

		a:active {
		    color: $white;
		}
	  }

	    .menu-controller-checkbox ~ ul {
	      max-height: none;
	      overflow: visible;
	      text-align: center;
	      background-color: $black;
	      padding: 1rem;
	    }

	    .menu-controller-label {
	      display: none;
	      visibility: hidden;
	    }
    }
}

@media screen and (min-width: 800px) {
	header {
		background-color: $black;
		position: relative;
		height: $line-height * 3.4;
	}

	h1 {
		float: left;
		width: 50%
	}
	
	nav {
		float: right;
	}

    .desktop-hidden {
  		display: block;
  	}

  	.mobile-hidden {
  		display: none;
  	}
}


